* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
}
.header {
    width: auto;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%), url(./imeges/first-one.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
    border: none;

}
.singin-btn {
    background-color: red;
    padding: 10px 20px;
}
.header-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    margin-top: 100px;

}
.email-signup {

    border-radius: 4px;
    display: flex;
    margin-top: 30px;
    overflow: hidden;
    font-size: 20px;


}
#email-signup-input::placeholder {
    color: #fff;
}

.email-signup input {
    flex: 1;
    border: 1px solid grey;
    outline: 0;
    margin-left: 20px;
    text-align: start;
    width: 400px;
    background-color: rgba(24, 24, 24, 0.755);
    padding-left: 14px;
    font-size: 20px;
    color: #fff;

}
.features h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}
.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 50px 0;
    align-items: center;
    justify-content: space-between;
}

.text-col {
    flex-basis: 50%;
    margin-bottom: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;


}
.logo {
    width: 150px;
    cursor: pointer;
}

nav div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav button {
    color: #fff;
    padding: 7px 20px;
    font-size: 15px;
    border-radius: 4px;
    margin-left: 10px;
    border: none;
    font-weight: bolder;

}

.nav button :hover {
    cursor: pointer;
}

.lang-btn {
    background-color: rgba(24, 24, 24, 0.755);
    color: white;
    border: 2px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 20px;
}

.lang-btn img {
    width: 15px;


}

.lang-btn svg {
    width: 20%;
}



.header-content h1 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
}

.header-content h3 {
    font-weight: 400;
    margin-bottom: 20px;
}


.email-signup button {
    background-color: #db0001;
    padding: 15px 30px;
}



.features {
    padding: 50px 12%;
    font-size: 22px;
}



.img-col {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-col img {
    display: block;
    width: 90%;
    margin: auto;
}



.faq {
    font-size: 18px;
    padding: 10px 12%;
    text-align: center;
}

.faq h2 {
    font-weight: 500;
    font-size: 40px;
}

.accordion {
    margin: 60px auto;
    width: 100%;
    max-width: 750px;

}

.accordion li {
    list-style: none;
    width: 100%;
    padding: 5px;

}

.accordion li label {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303033;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

label::after {
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}

input[type="radio"] {
    display: none;
}

.accordion .content {
    background-color: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked+label+.content {
    max-height: 600px;
    padding: 30px 20px;
}

.accordion input[type="radio"]:checked+label::after {
    transform: rotate(135deg);
}

.faq .email-signup {
    max-width: 600px;
    margin: 20px auto 60px;
    display: flex;
}

.faq .email-signup input {
    flex: 1;
    border: 1px solid grey;
    outline: 0;

    text-align: start;
    width: 200px;
    background-color: rgba(52, 51, 51, 0.564);
    padding-left: 14px;
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
}

.faq .email-signup button {
    background-color: #db0001;
    padding: 20px 30px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    border: none;
    border-radius: 4px;
}

.faq small {
    font-size: 15px;
}



.footer {
    padding: 50px 15% 10px;
    border-top: 10px solid #333;
}

.footer h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;

}

.footer .col {
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}

.footer .col a {
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer .row {
    align-items: flex-start;
    padding: 10px 0;
    text-decoration: underline;
}

#warn {
    display: block;
    color: red;
    margin-right: 390px;
    text-align: start;
    margin-top: 10px;
}


@media only screen and (max-width :600px) {
    .logo {
        width: 100px;
    }

    .nav button {
        padding: 5px 10px;
    }

    .lang-btn {
        background-color: rgba(24, 24, 24, 0.755);
        color: white;
        border: 2px solid grey;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1px 25px;
    }

    .header-content {
        padding: 0 10%;
        width: 100%;
    }

    .header-content h1 {
        font-size: 30px;
    }

    .email-signup {
        font-size: 12px;
        padding: 10px 20%;
        overflow: hidden;
       
        align-items: center;
    }

    .email-signup input {
        width: 100%;
      
        border: 1px solid grey;
        outline: 0;
        margin-left: 1%;
        text-align: start;
        padding-left: 14px;
        font-size: 20px;
        color: #fff;
        padding: 20px;
        width: 180px;

    }

    .email-signup button {
        background-color: #db0001;
        padding: 15px 30px;
    }

    #warn {
        margin-left: 2px;
        margin-top: 5%;
    }
}

@media screen and (max-width:900px) {

    .text-col,
    .img-col {
        flex-basis: 100%;
    }

    .features h2 {
        font-size: 30px;
    }

    .features p {
        font-size: 18px;
    }

   
}